---
import WeatherCard from '../components/WeatherCard.astro';
---


<section>
  <WeatherCard />
</section>

<style>
    section {
      text-align: center;
      padding: 150px 20px 20px 20px;
    }
</style>
