---
import WeatherCard from '../components/WeatherCard.astro';
---


<section>
  <WeatherCard />
</section>

<style>
    section {
      text-align: center;
      padding: 100px 20px 0px 20px;
    }
    @media (min-width: 801px){
      section{
        padding: 100px 20px 0px 20px;
      }
    }
</style>
