---
---

<div class="weatherCardContainer">
    <div id="landingWeatherize">
        <img src="/assets/landing-image.png" alt="">
        <span class="weatherCardTitle">Weatherize</span>
        <form id="weatherCardForm">
            <input type="text" name="" id="ciudadInput" placeholder="Ciudad">
            <button id="citySubmit" type="submit"></button>
        </form>
    </div>
    <div id="dataWeatherContainer" class="dataWeatherContainer" style="display:none;">
        <img id="weatherImg" src="#" alt="">
        <div class="dataContainer">
            <span id="cityTemperature"></span>
            <span id="weatherDescription"></span>
            <span id="date"></span>
        </div>
    </div>
</div>


<style>
    .weatherCardContainer{padding: 10px;max-width: 380px;margin:0 auto;background: #f6f5fa;box-shadow: rgb(85, 85, 85) 0px 3px 6px 0px;min-height: 600px;border-radius: 12px;position: relative;}
    #landingWeatherize{padding-top: 60%;}
    #landingWeatherize img{height: 350px;position:absolute;top:-110px;right:0;}
    .weatherCardTitle{font: 24px 'Montserrat',sans-serif;margin: 20px 0 50px 0;text-align: center;display: block;letter-spacing: 5px;}
    #weatherCardForm{margin-top: 100px;position: relative;}
    #weatherCardForm > input{background: transparent;border: 1px solid grey;border-radius: 12px;padding: 10px 15px;margin: 0 auto;display: block;font: 16px 'Montserrat',sans-serif;}
    #weatherCardForm button{background: transparent;border: none;position: absolute;top: 50%;right: 40px;margin-top: -9px;cursor: pointer;}
    #weatherCardForm button:after{content:'';border: solid black;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(-45deg);}
    #weatherCardForm > input:focus{outline:none;}
    .dataContainer{display:flex;flex-direction:column;font: 16px 'Montserrat',sans-serif;max-width: 310px;margin: 0 auto;}
    .dataWeatherContainer{padding-top: 100%;position: relative;}
    .dataWeatherContainer img{height: 350px;position:absolute;top:-110px;right:0;}
    #cityTemperature{font-size: 54px;text-align: left;}
    #weatherDescription{text-transform: capitalize;margin-top: 25px;text-align: left;font-size: 22px;letter-spacing: 5px;}
    #date{font-weight: 300;text-align: left;font-size: 15px;margin-top: 10px;}
</style>

<style is:inline>
    .pac-container .pac-item span{font:14px 'Montserrat',sans-serif;}
    .pac-container:after{content:none;}
    .
</style>

<script>
    import { fetchWeather } from "../api/api";
    const ciudadInput = document.getElementById("ciudadInput");
    const citySubmit = document.getElementById("citySubmit");

    const landingWeatherize = document.getElementById("landingWeatherize");
    const dataContainer = document.getElementById("dataWeatherContainer");
    const weatherTemperature = document.getElementById("cityTemperature");
    const weatherDescription = document.getElementById("weatherDescription");
    const date = document.getElementById("date");
    const weatherImage = document.getElementById("weatherImg");
    const input = document.getElementById('ciudadInput'); // Reemplaza 'tu-input' con el ID de tu campo de entrada
    const autocomplete = new google.maps.places.Autocomplete(input);
    let dateString = 'Mon Jan 12 00:00:00 GMT 2023';
    dateString = new Date(dateString).toUTCString();
    dateString = dateString.split(' ').slice(0, 4).join(' ');

    function setImage(tmp){
        if(tmp < 10){
            return "/assets/winter-image.png";
        } else if(tmp > 25){
            return "/assets/sun-image.png";
        } else if(weatherDescription.textContent.includes('lluvia')){
            return "/assets/rainy-image.png";
        } else {
            return "/assets/winter-image.png";
        }
    }

    // Agregamos el evento click para el button
    citySubmit.addEventListener("click", function (e) {
    e.preventDefault();
    // Obtén el valor actual del campo de entrada de texto
    const ciudad = ciudadInput.value;
    
    // Llama a la función fetchWeather con el valor de la ciudad
    fetchWeather(ciudad)
        .then((data) => {
        weatherTemperature.textContent = `${Math.floor(data.main.temp - 273)} °C`;
        weatherDescription.textContent = data.weather[0].description ;
        date.textContent = dateString;
        weatherImage.src = setImage(weatherTemperature.textContent);
        landingWeatherize.style.display = "none";
        dataContainer.style.display = "block";
        })
        .catch((error) => {
        console.error(error);
        });
    });
</script>